* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
/* utility */
.d-flex {
  display: flex;
}
/* / utility */
.main {
  position: relative;
}
.bg_header {
  height: 80px;
  background: #009688;
}

.bg_main {
  height: calc(700px - 80px);
  background: #d9dbd5;
}
/* container */
.container {
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
/* colonna di sinistra */
.col_left {
  width: 35%;
  height: 100%;
  background: red;
}
/* top left */
.top_left, .top_right {
  height: 80px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
}
.top_left {
  border-right: 1px solid lightgray;
}
/* main left */
.main_left {
  height: 130px;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
}
.notifications {
  height: 80px;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: #8edafc;
}
.notifications > .fa-bell-slash {
  font-size: 25px;
  border-radius: 50%;
  padding: 10px;
  color: #8edafc;
  border: 1px solid #f2fbff;
  background-color: #f2fbff;
}
.new_messages {
  padding: 20px;
}
.search {
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.search_card {
  background-color: white;
  padding: 10px;
}
.search_card > input{
  border-radius: 5px;
  border: 1px solid white;
  width: 250px;
  font-size: 15px;
}
.fa-search {
  font-size: 15px;
}
/* footer left */
.footer_left {
  background-color: white;
  height: calc(500px - 210px);
  list-style: none;
  overflow-y: scroll;
}
/* /colonna di sinistra */
/* colonna di destra */
.col_right {
  width: 75%;
  height: 100%;
}
.main_right {
  height: 340px;
  background-image: url("../img/mine.jpg");
  overflow-y: scroll;
}
.footer_right {
  height: 80px;
  background-color: #fafafa;
  align-items: center;
  justify-content: space-around;
}
